USE [master]
GO
/****** Object:  Database [ChatDb]    Script Date: 9/15/2020 5:52:55 PM ******/
CREATE DATABASE [ChatDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatDb', FILENAME = N'D:\MicrosoftSqlServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\ChatDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatDb_log', FILENAME = N'D:\MicrosoftSqlServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\ChatDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatDb]
GO
/****** Object:  User [Lavita]    Script Date: 9/15/2020 5:52:55 PM ******/
CREATE USER [Lavita] FOR LOGIN [Lavita] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/15/2020 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 9/15/2020 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[groupId] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [nvarchar](max) NULL,
	[groupParticipants] [nvarchar](max) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserChat]    Script Date: 9/15/2020 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserChat](
	[Chatid] [bigint] NOT NULL,
	[Connectionid] [nvarchar](50) NULL,
	[Senderid] [nvarchar](50) NULL,
	[Receiverid] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[Messagestatus] [nvarchar](10) NULL,
	[Messagedate] [datetime] NULL,
	[IsGroup] [bit] NULL,
	[IsMultiple] [bit] NULL,
	[IsPrivate] [bit] NULL,
	[groupId] [int] NOT NULL,
 CONSTRAINT [PK_UserChat] PRIMARY KEY CLUSTERED 
(
	[Chatid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 9/15/2020 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UserID] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20200419-114105]    Script Date: 9/15/2020 5:52:56 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20200419-114105] ON [dbo].[UserChat]
(
	[Senderid] ASC,
	[Receiverid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
